<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.ahayujie.project.mapper.BlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="online.ahayujie.project.bean.model.Blog">
        <id column="id" property="id" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="section_id" property="sectionId" />
        <result column="section_name" property="sectionName" />
        <result column="tag" property="tag" />
        <result column="views" property="views" />
    </resultMap>

    <update id="updateView">
        update blog set views = views + 1 where id = #{id}
    </update>

</mapper>
