<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.ahayujie.project.mapper.BlogReplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="online.ahayujie.project.bean.model.BlogReply">
        <id column="id" property="id" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="blog_id" property="blogId" />
        <result column="blog_title" property="blogTitle" />
        <result column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="content" property="content" />
        <result column="comment_id" property="commentId" />
    </resultMap>

</mapper>
